{% extends 'base.html.twig' %}

{% block title %}Liste des sites{% endblock %}

{% block body %}
    <div class="container-fluid title-area" style="margin-bottom: 10px;">
        <h2 class="display-1 text-center">Liste des sites</h2>
    </div>
    <div class="container-fluid content-area table-responsive" style="margin-bottom: 30px;">
        {% for message in app.flashes('notice-site') %}
            <div class="bg-warning flash-notice mb-3 text-bold text-dark">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success-site') %}
            <div class="bg-success flash-notice mb-3 text-bold text-white">
                {{ message }}
            </div>
        {% endfor %}
        <table class="table table table-hover table-sm" id="tableIndexView">
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Nom</th>
                    <th>Nombre de Bennes</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th>Contrat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.getClient.nom }}</td>
                    <td>{{ site.nom }}</td>
                    <td>{{ site.nombreBennes }}</td>
                    <td>{{ site.adresse }}</td>
                    <td>{{ site.ville }}</td>
                    <td>{{ site.pays }}</td>
                    <td>
                        {{ site.hasContrat ? 
                            '<div class="form-check"><input class="form-check-input" type="checkbox" value="1" disabled checked></div>'
                            : 
                            '<div class="form-check"><input class="form-check-input" type="checkbox" value="0" disabled></div>' 
                        }}
                    </td>
                    <td>
                        <a href="{{ path('app_site_edit', {'id': site.id}) }}"><i class="bi bi-pencil-square" style="color: #6c757d;"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucune données trouvées</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_site_new') }}" class="btn btn-info btn-sm">
            <i class="bi bi-plus-circle" style="color: #fff;"></i>
            Nouveau Site
        </a>
        <a href="#" class="btn btn-secondary btn-sm">
            <i class="bi bi-printer-fill"></i>
            Imprimer
        </a>
    </div>
{% endblock %}