{% extends 'base.html.twig' %}

{% block title %}Modification Traitement{% endblock %}

{% block body %}
    <div class="container-fluid title-area" style="margin-bottom: 10px;">
        <h2 class="display-1 text-center">Modification Traitement</h2>
    </div>
    <div class="container-fluid content-area" style="margin-bottom: 30px;">
        <div class="for-flashes">
            {% for message in app.flashes('notice-traitements') %}
                <div class="bg-warning flash-notice mb-3 text-bold text-dark">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success-traitements') %}
                <div class="bg-success flash-success mb-3 text-bold text-white">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <p class="text-muted text-center">Les champs avec <span>*</span> sont obligatoires !</p>
        {{ include('traitement/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('app_traitement_show', {'id': traitement.id}) }}" class="btn btn-secondary btn-sm">
            <i class="bi bi-eye-fill"></i>
            Consulter
        </a>
        <a href="{{ path('app_traitement_index') }}" class="btn btn-secondary btn-sm">
            <i class="bi bi-backspace-fill"></i>
            Retourner à la liste
        </a>
    </div>

{% endblock %}
