{% extends 'base.html.twig' %}

{% block title %}Consultation Traitement{% endblock %}

{% block body %}
    <div class="container-fluid title-area" style="margin-bottom: 10px;">
        <h2 class="display-1 text-center">Consultation Traitement</h2>
    </div>
    <div class="container-fluid content-area" style="margin-bottom: 30px;">   
        <div class="for-flashes">
            {% for message in app.flashes('notice-traitements') %}
                <div class="bg-warning flash-notice mb-3 text-bold text-dark">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success-traitements') %}
                <div class="bg-success flash-success mb-3 text-bold text-white">
                    {{ message }}
                </div>
            {% endfor %}
        </div>     
        <table class="table table-hover table-sm mb-3">
            <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ traitement.id }}</td>
                </tr>
                <tr>
                    <th>Créé le</th>
                    <td>{{ traitement.createdAt ? traitement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Modifié le</th>
                    <td>{{ traitement.updatedAt ? traitement.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td>{{ traitement.getBonSortie.getDemande.getSite.getClient.nom ?? '' }}</td>
                </tr>
                <tr>
                    <th>Site</th>
                    <td>{{ traitement.getBonSortie.getDemande.getSite.nom ?? '' }}</td>
                </tr>
                <tr>
                    <th>Benne</th>
                    <td>{{ traitement.getBenne.getNumeroSerie }}</td>
                </tr>
                <tr>
                    <th>Capacité</th>
                    <td>{{ traitement.getBenne.getCapacite }} {{ traitement.getBenne.getCapaciteUnite }}</td>
                </tr>
                <tr>
                    <th>Réception</th>
                    <td>{{ traitement.dateReception ? traitement.dateReception|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Mise traitement</th>
                    <td>{{ traitement.dateMiseTraitement ? traitement.dateMiseTraitement|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Fin traitement</th>
                    <td>{{ traitement.dateFinTraitement ? traitement.dateFinTraitement|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Nettoyage</th>
                    <td>{{ traitement.expeditionNettoyage }}</td>
                </tr>
                <tr>
                    <th>Retour Stock</th>
                    <td>{{ traitement.expeditionRetourStock }}</td>
                </tr>
                <tr>
                    <th>Statut</th>
                    <td>
                        {% if traitement.statut == "En attente de validation" %}
                            <span class="badge rounded-pill bg-warning text-dark">
                                {{ traitement.statut}}
                            </span>
                        {% elseif traitement.statut == "Validé" %}
                            <span class="badge rounded-pill bg-success text-white">
                                {{ traitement.statut}}
                            </span>
                        {% else %}
                            <span class="badge rounded-pill bg-info text-dark">
                                {{ traitement.statut}}
                            </span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Remarques</th>
                    <td>{{ traitement.remarques }}</td>
                </tr>
            </tbody>
        </table>
        {% if traitement.statut == "En attente de validation" %}
            <a href="{{ path('app_traitement_edit', {'id': traitement.id}) }}" class="btn btn-info btn-sm">
                <i class="bi bi-pencil-square" style="color: #fff;"></i>
                Modifier
            </a>
        {% endif %}
        <a href="#" class="btn btn-secondary btn-sm">
            <i class="bi bi-printer-fill"></i>
            Imprimer
        </a>
        <a href="{{ path('app_traitement_index') }}" class="btn btn-secondary btn-sm">
            <i class="bi bi-backspace-fill"></i>
            Retourner à la liste
        </a>
    </div>
{% endblock %}
