{{ form_start(form) }}
    <div class="row">
        {{ form_row(form.numero_serie) }}
        {{ form_row(form.capacite) }}
        {{ form_row(form.capacite_unite) }}
        {{ form_row(form.label) }}
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success btn-sm">
                <i class="bi bi-save-fill"></i>
                {{ button_label|default('Sauvegarder') }}
            </button>
        </div>
    </div>
{{ form_end(form) }}
