{% extends 'base.html.twig' %}

{% block title %}Modification du Compte Utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid title-area" style="margin-bottom: 10px;">
        <h2 class="display-1 text-center">Modification du Compte Utilisateur</h2>
    </div>
    <div class="container-fluid content-area" style="margin-bottom: 30px;">
        <div class="for-flashes">
            {% for message in app.flashes('notice-users') %}
                <div class="flash-notice mb-3 text-bold text-dark">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <p class="text-muted text-center">Les champs avec <span>*</span> sont obligatoires !</p>
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('user/_delete_form.html.twig') }}
        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-secondary btn-sm">
            <i class="bi bi-eye-fill"></i> Consulter
        </a>
        <a href="#" class="btn btn-secondary btn-sm">
            <i class="bi bi-printer-fill"></i>
            Imprimer
        </a>
        <a href="{{ path('app_user_index') }}" class="btn btn-secondary btn-sm">
            <i class="bi bi-backspace-fill"></i>
            Retourner à la liste
        </a>
    </div>
{% endblock %}
